extends layout

block content
    .full
      .fifty
        h1= title
        each val in tracks
            #track
                =`${val.track.name} by ${val.track.artists[0].name} - added by ${val.added_by.id}`

      .fifty
        h1 Balanced Queue
        each val in shuffledTracks
            #track
                =`${val.track.name} by ${val.track.artists[0].name} - added by ${val.added_by.id}`
